body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#Navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Navbar #brand-logo {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 20px;
}

#Navbar #brand-logo img {
  height: 50px;
  width: 50px;
}

#Navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin-top: 15px;
}

#Navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#Navbar #profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

#Navbar #profile span {
  font-size: 15px;
  font-weight: 550;
}
#Navbar #profile img.profile-icon {
  height: 33px;
  width: 35px;
  border-radius: 360%;
}

#Navbar #profile button.toggler-btn {
  display: none;
  color: white;
}

#navbarMenu {
  display: block;
}

@media screen and (max-width: 480px) {
  #Navbar {
    display: block;
    position: relative;
    padding: 15px;
  }

  #navbarMenu {
  display: none;
}

  #Navbar ul {
    display: block;
    margin: 25px 0 7px 0;
  }

  #Navbar ul li {
    display: block;
    margin: 10px 0;
  }

  #Navbar #profile {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #Navbar #profile span {
    display: none;
  }

  #Navbar #profile button.toggler-btn {
    display: block;
  }

  #Navbar #brand-logo img {
    height: 30px;
    width: 30px;
  }
}



@media screen and (min-width: 481px) and (max-width: 768px) {
  #Navbar {
    display: block;
    position: relative;
    padding: 15px;
  }

  #Navbar ul {
    display: block;
    margin: 25px 0 7px 0;
  }

  #Navbar ul li {
    display: block;
    margin: 10px 0;
  }

  #Navbar #profile {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #Navbar #profile span {
    display: none;
  }

  #navbarMenu {
    display: none;
  }

  #Navbar #profile button.toggler-btn {
    display: block;
  }
}
