@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#intro-section {
  width: 100%;
  padding: 15px;
  height: 90vh;
}

#intro-section .container,
#services-section .container,
#repair-section .container,
#offer-section {
  width: 800px;
  margin: 70px auto 10px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#intro-section .container img {
  width: 400px;
  height: 300px;
}

#intro-section .container .intro-body {
  width: 400px;
  padding: 10px 15px;
}

#intro-section .container .intro-body h2 {
  font-family: "Lato", sans-serif;
  font-size: 46px;
  font-weight: 700;
}

#intro-section .container .intro-body p {
  font-size: 15px;
}

#intro-section .container .intro-body .btn {
  font-size: 14px;
}

#services-section {
  height: 50vh;
}

#services-section .container {
  padding-top: 70px;
}

#services-section .container .service-card {
  width: 230px;
  padding: 20px 7px 7px 7px;
  border-radius: 10px;
  height: 180px;
}

#services-section .container .service-card i {
  font-size: 28px;
  display: block;
  text-align: center;
}

#services-section .container .service-card h3 {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

#services-section .container .service-card p {
  text-align: center;
  margin: 10px;
  font-size: 12px;
}

#repair-section {
  height: 70vh;
  width: 100%;
}
#repair-section .repair-card {
  margin: 7px 10px;
  width: 250px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
}

#repair-section h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}

#repair-section .repair-card img {
  height: 50px;
  width: 50;
  display: block;
}

#repair-section .repair-card h3 {
  font-size: 18px;
  margin: 10px auto 7px 10px;
}

#repair-section .repair-card p {
  font-size: 14px;
  margin: 7px 10px;
}

#offer-section {
  width: 800px;
  margin: 10px auto;
  display: block;
  padding: 20px;
  border-radius: 10px;
}

#offer-section h1 {
  font-size: 28px;
}

#offer-section .btn {
  width: 200px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  #intro-section {
    height: 60vh;
    padding-top: 100px;
  }
  #intro-section .container,
  #services-section .container,
  #repair-section .container {
    flex-direction: column;
    width: 95%;
    text-align: center;
    margin-top: 50px;
  }

  #intro-section .container img {
    display: none;
  }

  #services-section .container .service-card,
  #repair-section .container .repair-card {
    width: 95%;
    margin: 20px auto;
  }

  #services-section {
    height: 150vh;
  }

  #repair-section {
    height: 40vh;
  }

  #repair-section .container .repair-card img {
    margin: 0px auto;
  }

  #offer-section {
    width: 90%;
  }
}

@media screen and (min-width: 300px) {
  #intro-section {
    height: 50vh;
  }

  #services-section {
    height: 120vh;
  }

  #repair-section {
    height: 160vh;
    padding: 0;
  }

  #intro-section .container .intro-body h2 {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #services-section {
    height: 40vh;
  }

  #repair-section {
    height: 50vh;
    padding: 0;
  }

  #offer-section {
    margin: 70px auto;

  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #intro-section {
    height: 40vh;
  }

  #services-section {
    height: 35vh;
  }

  #repair-section {
    height: 40vh;
  }
}

@media screen and (min-width: 1044px) {
  #intro-section {
    height: 75vh;
  }

  #services-section {
    height: 60vh;
  }

  #repair-section {
    height: 80vh;
  }
}